
body.dark-theme {
  color: #eee;
  background: #121212;
}
body{
	background:#1305ea4a;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.sun{
	left:1630px;
	width:16px;
	height:16px;
	position:fixed;
	top:60px;
}
.moon{
	left:1720px;
	width:16px;
	height:16px;
	position:fixed;
	top:60px;
}
/* Hide default HTML checkbox */
.switch input {display:none; 

}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  left: 1650px;
  right: 0px;
  height:25px;
  top:47px;
  width:52px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;

}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px;
}
.bg {
  background:#d2d2d4;
  left: 150px;
  width: 1600px;

  height:850px;
  position: fixed;
  box-shadow: 0 5px 15px rgba(0,0,0, .3);
  bottom: 70px;
  border-radius: 2rem;
}

.menu {
  height:50px;
  width: 1600px;
  background:#dedfe0;
  box-shadow: 0 4px 10px rgba(0,0,0, .3);
  position: fixed;
  bottom: 870px;
  left: 150px;
  border-radius: 2rem;

}
.unodesktop {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev', cursive;
  font-weight: bold;
  bottom: 883px;
  left: 1250px;

}

.logo {
  position: fixed;
  font-size: 32px; /* Размер шрифта в процентах */
  color: #7205ea;
  display: inline-block;
  font-family: 'logo', cursive;
  font-weight: bold;
  bottom: 875px;
  left: 180px;

}
.foxmessanger {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev';
  font-weight: bold;
  bottom: 883px;
  left: 1450px;
}
.UnoSearch {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev';
  font-weight: bold;
  bottom: 883px;
  left: 1050px;
}
a {
	position: relative;
	color: #E5EFC1;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/

}
a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 4px; /*задаём ширину линии*/
	background-color: black; /*задаём цвет линии*/
	content: "";
}

a:hover:after,
a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
/* width */
::-webkit-scrollbar {
    width: 10px;

}
/* Track */
::-webkit-scrollbar-track {
    background: #b5b5b5;

}
@font-face {
	font-family: 'logo';
	src: url('intro-black.eot'); /* IE 9 Compatibility Mode */
	src: url('intro-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('intro-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('intro-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('intro-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('intro-black.svg#intro-black') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'dev';
	src: url('intro-black.eot'); /* IE 9 Compatibility Mode */
	src: url('intro-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('intro-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('intro-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('intro-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('intro-black.svg#intro-black') format('svg'); /* Chrome < 4, Legacy iOS */
}
@media screen and (max-width: 1700px){
body{
	background:#1305ea4a;
}
.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px;
}
.bg {
  background:#d2d2d4;
  left: -1px;
  width: 100%;

  height:850px;
  position: fixed;
  box-shadow: 0 5px 15px rgba(0,0,0, .3);
  bottom: 70px;
  border-radius: 2rem;
}

.menu {
  height:50px;
  width: 100%;
  background:#dedfe0;
  box-shadow: 0 4px 10px rgba(0,0,0, .3);
  position: fixed;
  bottom: 870px;
  left: -1px;
  border-radius: 2rem;

}
.unodesktop {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev', cursive;
  font-weight: bold;
  bottom: 883px;
  left: 1350px;

}

.logo {
  position: fixed;
  font-size: 32px; /* Размер шрифта в процентах */
  color: #7205ea;
  display: inline-block;
  font-family: 'logo', cursive;
  font-weight: bold;
  bottom: 875px;
  left: 20px;

}
.foxmessanger {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev';
  font-weight: bold;
  bottom: 883px;
  left: 1150px;
}
.UnoSearch {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev';
  font-weight: bold;
  bottom: 883px;
  left: 950px;
}
}
@media screen and (max-width: 1201px){
body{
	background:#1305ea4a;
}

.bg {
  background:#d2d2d4;
  left: -1px;
  width: 100%;

  height:850px;
  position: fixed;
  box-shadow: 0 5px 15px rgba(0,0,0, .3);
  bottom: 70px;
  border-radius: 2rem;
}

.menu {
  height:50px;
  width: 100%;
  background:#dedfe0;
  box-shadow: 0 4px 10px rgba(0,0,0, .3);
  position: fixed;
  bottom: 870px;
  left: -1px;
  border-radius: 2rem;

}
.unodesktop {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev', cursive;
  font-weight: bold;
  bottom: 883px;
  left: 1050px;

}

.logo {
  position: fixed;
  font-size: 32px; /* Размер шрифта в процентах */
  color: #7205ea;
  display: inline-block;
  font-family: 'logo', cursive;
  font-weight: bold;
  bottom: 875px;
  left: 20px;

}
.foxmessanger {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev';
  font-weight: bold;
  bottom: 883px;
  left: 850px;
}
.UnoSearch {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev';
  font-weight: bold;
  bottom: 883px;
  left: 650px;
}
}
@media screen and (max-width: 844px){
body{
	background:#1305ea4a;
}

.bg {
  background:#d2d2d4;
  left: -1px;
  width: 100%;

  height:850px;
  position: fixed;
  box-shadow: 0 5px 15px rgba(0,0,0, .3);
  bottom: 70px;
  border-radius: 2rem;
}

.menu {
  height:50px;
  width: 100%;
  background:#dedfe0;
  box-shadow: 0 4px 10px rgba(0,0,0, .3);
  position: center;
  border-radius: 2rem;
  bottom:top;

}
.unodesktop {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev', cursive;
  font-weight: bold;
  bottom: 883px;
  left: 1050px;

}

.logo {
  position: fixed;
  font-size: 32px; /* Размер шрифта в процентах */
  color: #7205ea;
  display: inline-block;
  font-family: 'logo', cursive;
  font-weight: bold;
  bottom: 875px;
  left: 20px;

}
.foxmessanger {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev';
  font-weight: bold;
  bottom: 883px;
  left: 850px;
}
.UnoSearch {
  position: fixed;
  font-size: 22px; /* Размер шрифта в процентах */
  color: black;
  display: inline-block;
  font-family: 'dev';
  font-weight: bold;
  bottom: 883px;
  left: 650px;
}
}